@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 124 50% 95%;
    --foreground: 124 25% 35%;
    --muted: 124 26.94% 83.15%;
    --muted-foreground: 120 2.85% 35.9%;
    --popover: 124 65% 83%;
    --popover-foreground: 124 33% 43%;
    --card: 124 46.44% 86.6%;
    --card-foreground: 120 31.03% 5.69%;
    --border: 124 31.17% 37.73%;
    --input: 124 17.99% 69.36%;
    --primary: 124 41% 56%;
    --primary-foreground: 124 33% 5.6%;
    --secondary: 124 35% 80%;
    --secondary-foreground: 124 33% 5.69%;
    --accent: 159 51.92% 74.94%;
    --accent-foreground: 159 33% 10.66%;
    --destructive: 12.78 83.18% 37.23%;
    --destructive-foreground: 120 22.5% 90.41%;
    --ring: 124 28% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 124 26.65% 4.48%;
    --foreground: 124 31% 84.66%;
    --muted: 124 40% 11.72%;
    --muted-foreground: 124 10.46% 57.62%;
    --popover: 124 39.15% 14.56%;
    --popover-foreground: 124 31% 97.8%;
    --card: 124 38.35% 7.28%;
    --card-foreground: 124 31% 97.8%;
    --border: 124 14.72% 34.42%;
    --input: 124 14.72% 34.42%;
    --primary: 124 41% 56%;
    --primary-foreground: 124 31% 5.6%;
    --secondary: 124 41% 15.12%;
    --secondary-foreground: 124 31% 97.8%;
    --accent: 159 46.27% 21.21%;
    --accent-foreground: 159 31% 97.8%;
    --destructive: 12.78 48.06% 59.52%;
    --destructive-foreground: 120 3.45% 5.69%;
    --ring: 124 41% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
